h2  {
    color: #282835;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    text-align: left;
}
h3  {
    color: #8a8aa1;
    font-size: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    text-align: left;
}
p {
    padding-left: 20px;
}
@media screen and (min-width: 980px) /* Desktop */ {
}
@media screen and (max-width: 500px) /* Mobile */ {
}